<!-- Navigation dạng dọc -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang 3</a>
                </li>
                <!-- Thêm các mục trang khác nếu cần -->
            </ul>
        </div>
    </div>
</nav>
