/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply global font and background */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Center the form on the page */
#bookingForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Apply styling to form elements */
#bookingForm div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.label2 {
    color: #000000a1;
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
    /* Kích thước font chữ */
    /* Thêm các thuộc tính CSS khác tùy theo yêu cầu của bạn */
}

select, input[type="datetime-local"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Provision Checkboxes */
.provision-container {
    display: flex;
    flex-direction: column;
}

.provision-checkboxes {
    max-height: 220px; /* Set a maximum height for the checkbox container */
    overflow-y: auto; /* Enable scrolling for long lists */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
}

.provision-checkboxes label {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

/* Styling for Select2 dropdown */
.select2-selection--multiple {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    background-color: #f9f9f9;
    min-height: 38px; /* Set a minimum height to ensure uniform appearance */
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ccc;
}

.select2-search__field {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    color: #333;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f9f9f9;
    color: #333;
}

/* Adjust width for mobile */
@media (max-width: 500px) {
    #bookingForm {
        max-width: 100%;
    }
}
