@page
@model SpaBookingApp.Pages.Categories.DeleteCategoryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete Category";
}
<link rel="stylesheet" href="~/css/style.css">
<h1>Delete Category</h1>

<p><strong>Category ID:</strong> @Model.Category.Id</p>
<p><strong>Category Name:</strong> @Model.Category.Name</p>

<form method="post">
    <button type="submit" class="button primary-button">Confirm Delete</button>
    <a href="/Categories/Index" class="button secondary-button">Cancel</a>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}
