@page
@model SpaBookingApp.Pages.Categories.DeleteCategoryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_LayoutWithUsername"; }
@{
    ViewData["Title"] = "Delete Category";
}
<h1>Delete Category</h1>

<form method="post" id="deleteCategoryForm">
    <div class="product-info">
        <h3>Are you sure you want to delete the following Category?</h3>

        <input type="hidden" asp-for="Category.Id" id="Category_Id" />

        <div>
            <label asp-for="Category.Name" title="Category Name">Category Name:</label>
            <span>@Model.Category.Name</span>
        </div>

        <button type="submit" class="button primary-button">Confirm Delete</button>
        <a href="/Categories/Index" class="button secondary-button">Cancel</a>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}


<script src="~/js/Category/deleteCategory.js"></script>