@page
@model SpaBookingApp.Pages.Categories.UpdateCategoryModel
@{ Layout = "_LayoutWithUsername"; }
@{
    ViewData["Title"] = "Update Category";
}

<h1>Update Category</h1>

<form method="post" class="form-container">
    <div class="form-group">
            <label asp-for="Category.Id" title="Category ID">Category ID:</label>
            <span>@Model.Category.Id</span>
            <input type="hidden" asp-for="Category.Id" />
        </div>
    <div class="form-group">
        <label asp-for="Category.Name" title="Category Name">Category Name:</label>
        <input asp-for="Category.Name" class="form-control" placeholder="Enter category name" />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="button primary-button">Update</button>
    </div>
    <a href="/Categories/Index" class="btn btn-secondary">Back to Categories</a>
</form>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p>@Model.SuccessMessage</p>
    <a href="/Categories/Index" class="button secondary-button">Back to Categories</a>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}

@if (!ModelState.IsValid)
{
    <p>Please fix the errors in the form.</p>
}
<script src="~/js/Category/updateCategory.js"></script>
