@page
@{
    Layout = "_Layout";
}
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5">

            <h3 class="mb-4 text-center">Update Account's Password</h3>

            <div id="changePasswordResult" class="alert" role="alert"
                style="display: none;"></div>

            <form id="changePasswordForm">
                <div class="form-group">
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" class="form-control" id="oldPassword"
                        required>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="newPassword"
                        required>
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password:</label>
                    <input type="password" class="form-control"
                        id="confirmNewPassword" required>
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block" >Change Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/User/changepassword.js"></script>
}
