@page
@model SpaBookingApp.Pages.UserManagement.ChangePasswordModel
@{
    Layout = "_LayoutWithUsername";
}

<h2>Change Password</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form method="post">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="UserChangePasswordDto.Email" asp-for="UserChangePasswordDto.Email" />
    </div>
    <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="UserChangePasswordDto.OldPassword" asp-for="UserChangePasswordDto.OldPassword" />
    </div>
    <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="UserChangePasswordDto.NewPassword" asp-for="UserChangePasswordDto.NewPassword" />
    </div>
    <div>
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" name="UserChangePasswordDto.ConfirmNewPassword" asp-for="UserChangePasswordDto.ConfirmNewPassword" />
    </div>
    <button type="submit">Change Password</button>
</form>
