@page
@{
    Layout = "_Layout";
}

<div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5">

            <h3 class="mb-4 text-center">Delete Account</h3>

            <div id="changePasswordResult" class="alert" role="alert"
                style="display: none;"></div>

            <form id="deleteAccountForm">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password"
                        required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control"
                        id="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-danger btn-lg btn-block">Delete Account</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/User/deleteaccount.js"></script>
}
