@page
@{
    Layout = "_Layout";
}
<style>
    .column {
        flex: 1;
        margin-right: 20px;
    }

    .booking-detail {
        max-width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.188);
    }

    .booking-detail h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .booking-property {
        margin-bottom: 10px;
    }
     .booking-detail p {
        margin-bottom: 10px; /* Adjust the margin as needed */
    }

    .user-details,
    .provisions {
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .provision {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .provision-info {
        margin-bottom: 5px;
    }

    .provision-id,
    .provision-name {
        font-weight: bold;
    }

    .duration-minutes,
    .price {
        text-align: right;
    }

    .user-and-provisions {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    .user-and-provisions:last-child {
        margin-bottom: 0;
    }

    .row {
        display: flex;
        gap: 20px;
    }
    .red-message {
        text-align: right;
        color: red;
        margin-top: 10px; /* Adjust the margin as needed */
    }
</style>



<div class="column">
    <h2>Booking Details History</h2>
    <div class="booking-detail"></div>
</div>
<div class="justify-content-center">
    <div class="column">
        <div class="provisions"></div>
    </div>
</div>
<div class="d-grid gap-2 col-12 mx-auto mt-4">
    <button class="btn btn-secondary" id="backButton">Back</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/Booking/getBookingById.js"></script>

