@page
@model SpaBookingApp.Pages.UserManagement.LoginModel
@{ Layout = "_LayoutWithUsername"; }


<form id="loginForm">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </div>
    <button type="submit">Login</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
@* <script src="~/js/api.js"></script> *@
<script src="~/js/login.js"></script>
