@page
@{
    Layout = "_MyLayout";
}

<section class="vh-100 p-t-120 p-b-40">
    <div class="container py-5 h-100">
        <section>
            <h2 class="text-center mb-2 pb-2 text-body fw-bold"><strong>Are you
                    ready to enter the land of knowledge?</strong></h2>
            <p class="text-center mb-4" style="font-size: 20px">
                According to educational news, reading is the most effective and
                practical self-study method that anyone can do. Cultivating the
                habit of reading books will bring great benefits; is a good
                habit that helps our brain stay healthy and flexible and many
                other benefits
            </p>
            <div
                class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-14 col-md-10 col-lg-6 col-xl-7">
                    <div class="card shadow-2-strong"
                        style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <div id="registerAlert" class="alert" role="alert"
                                style="display: none;"></div>

                            <form id="registerForm">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="firstName"><strong>First
                                            Name:</strong></label>
                                    <input type="text" class="form-control"
                                        id="firstName" name="FirstName"
                                        required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="lastName"><strong>Last
                                            Name:</strong></label>
                                    <input type="text" class="form-control"
                                        id="lastName" name="LastName"
                                        required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="email"><strong>Email:</strong></label>
                                    <input type="email" class="form-control"
                                        id="email" name="Email"
                                        required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="phoneNumber"><strong>Phone
                                            Number:</strong></label>
                                    <input type="text" class="form-control"
                                        id="phoneNumber"
                                        name="PhoneNumber" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="password"><strong>Password:</strong></label>
                                    <input type="password" class="form-control"
                                        id="password"
                                        name="Password" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label"
                                        for="confirmPassword"><strong>Confirm
                                            Password:</strong></label>
                                    <input type="password" class="form-control"
                                        id="confirmPassword"
                                        name="ConfirmPassword" required>
                                </div>
                                <button type="submit"
                                    class="btn btn-dark btn-lg btn-block">Register</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    <script src="~/js/User/register.js"></script>
}
