@page
@model SpaBookingApp.Pages.UserManagement.RegisterModel
@{ Layout = "_LayoutWithUsername"; }

<h2>Register</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form id="registerForm" method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="UserRegisterDto.FirstName" asp-for="UserRegisterDto.FirstName" />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="UserRegisterDto.LastName" asp-for="UserRegisterDto.LastName" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="UserRegisterDto.Email" asp-for="UserRegisterDto.Email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="UserRegisterDto.Password" asp-for="UserRegisterDto.Password" />
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="UserRegisterDto.ConfirmPassword" asp-for="UserRegisterDto.ConfirmPassword" />
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="UserRegisterDto.PhoneNumber" asp-for="UserRegisterDto.PhoneNumber" />
    </div>
    <button type="submit">Register</button>
</form>
