@page
@model SpaBookingApp.Pages.VerifyAccountModel
@{
    ViewData["Title"] = "Verify Account";
    Layout = "_LayoutWithUsername";
}

<h2>Verify Account</h2>

@if (Model.IsVerified.HasValue)
{
    @if (Model.IsVerified.Value)
    {
        <div class="alert alert-success" role="alert">
            <p>Account verified successfully.</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <p>Account verification failed. Please check the verification code and try again.</p>
        </div>
    }
}

<form id="verifyAccountForm" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="Email" required>
    </div>
    <div class="form-group">
        <label for="verificationCode">Verification Code:</label>
        <input type="text" class="form-control" id="verificationCode" name="VerificationCode" required>
    </div>
    <button type="submit" class="btn btn-primary">Verify Account</button>
</form>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lấy giá trị email từ query string (nếu có)
            var urlParams = new URLSearchParams(window.location.search);
            var email = urlParams.get("email");

            // Hiển thị giá trị email trong trường email của form
            document.getElementById("email").value = email;
        });
    </script>
}
