@page
@model SpaBookingApp.Pages.Subjects.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_LayoutWithUsername"; }
@{
    ViewData["Title"] = "Subjects";
}
<h1>Subjects</h1>

<a href="/Subjects/CreateSubject" class="button primary-button">Create</a>

@if (Model.Subjects != null && Model.Subjects.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model.Subjects)
            {
                <tr>
                    <td>@subject.Name</td>
                    <td>
                        <a href="~/Subjects/GetSubjectById?id=@subject.Id" class="button secondary-button">Details</a>
                        <a href="~/Subjects/UpdateSubject?id=@subject.Id" class="button secondary-button">Update</a>
                        <a href="~/Subjects/DeleteSubject?id=@subject.Id" class="button secondary-button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="error-message">@Model.ErrorMessage</p>
    }
}
else
{
    <p class="no-subjects">No subjects found.</p>
}
<div class="pagination">
    @if (Model.PageIndex > 0)
    {
        <a href="~/Subjects/Index?pageIndex=0">First</a>
        <a href="~/Subjects/Index?pageIndex=@(Model.PageIndex - 1)">Previous</a>
    }
    @for (int i = 0; i < Model.PageInformation.TotalPages; i++)
    {
        int displayedPageIndex = i + 1;
        <a href="~/Subjects/Index?pageIndex=@i">@displayedPageIndex</a>
    }
    @if (Model.PageIndex < Model.PageInformation.TotalPages - 1)
    {
        <a href="~/Subjects/Index?pageIndex=@(Model.PageIndex + 1)">Next</a>
        <a href="~/Subjects/Index?pageIndex=@(Model.PageInformation.TotalPages - 1)">Last</a>
    }
</div>

