@page
@{
    Layout = "_BookingLayout";
}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Make your appointment</h1>
                            <p>Enjoy ultimate relaxation at FSpa - a place that creates a refreshing experience for your
                                soul and body. At FSpa, we are committed to providing you with a peaceful space and
                                quality services to help you relax and restore your spirit. We pride ourselves on our
                                dedicated team of spa experts and our wide range of unique treatments to meet your every
                                need. Book your appointment today at FSpa and immerse yourself in a world of relaxation
                                and renewal!</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="booking-form" id="AddBooking">
                            <div class="form-group">
                                <label class="form-label">Staffs: (optional)</label>
                                <select id="staffSelect" name="staffSelect">
                                    <option value="1">Staff</option>
                                    <!-- Populate staff options from API -->
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Select Department:</label>
                                <select id="departmentSelect" name="departmentSelect" required>
                                    <option value="">Select Department</option>
                                    <!-- Populate department options from API -->
                                </select>
                            </div>
                            <div class="provision-container form-group">
                                <label class="form-label">Select Provisions:</label>
                                <div id="provisionCheckboxes" class="provision-checkboxes" required>
                                    <!-- Options will be populated dynamically using JavaScript -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="startTime">Start Time:</label>
                                    <input type="datetime-local" id="startTime" name="startTime" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="note">Note:</label>
                                <textarea id="note" name="note"></textarea>
                            </div>
                            <div class="">
                                <button class="submit-btn" id="createButton">Booking</button>
                                <a href="/Bookings/Index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <link type="text/css" rel="stylesheet" href="~/css/createBooking.css" />
