/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center; /* Đổi text-align thành center để căn giữa nội dung */
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

/* Primary button */
.primary-button {
    background-color: #007bff;
}

.primary-button:hover {
    background-color: #0056b3;
}

/* Secondary button */
.secondary-button {
    background-color: #6c757d;
}

.secondary-button:hover {
    background-color: #555f66;
}

/* Form */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="submit"],
.form-group button {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover,
.form-group button:hover {
    background-color: #0056b3;
}

.form-group a {
    margin-left: 10px;
    color: #007bff;
    text-decoration: none;
}

.product-image {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Other styles */
.error-message {
    color: red;
    font-weight: bold;
    text-align: center; /* Căn giữa nội dung */
}

.no-products {
    font-style: italic;
    text-align: center; /* Căn giữa nội dung */
}

.poster-image {
    max-width: 300px; /* Điều chỉnh kích thước ảnh tối đa */
    height: auto; /* Tự động tính toán chiều cao dựa trên tỷ lệ */
    display: block; /* Hiển thị ảnh như một khối */
    margin-bottom: 10px; /* Khoảng cách dưới ảnh */
}

#previewImage {
    max-width: 300px; /* Kích thước tối đa của ảnh hiển thị */
    max-height: 300px;
}

/* Đặc sắc hóa layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

#loginButton,
#logoutButton,
#usernameElement {
    margin-left: 20px;
}

.user-logged-in #usernameElement {
    margin-right: 20px;
}

/* Di chuyển các nút sang bên phải */
header nav {
    margin-left: auto;
}

/* Di chuyển tên người dùng sang bên phải */
#usernameElement {
    margin-left: auto;
}

/* Di chuyển các nút Login và Logout lên cùng một dòng */
#loginButton,
#logoutButton {
    display: none;
}

.user-logged-in #logoutButton {
    display: inline-block;
}

.user-logged-in #loginButton {
    display: none;
}

