@page
@{
	Layout = "_MyLayout";
}
<!-- Content page -->
<section class="bg0 p-t-120 p-b-80">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Story
					</h3>

					<p class="stext-113 cl6 p-b-26">
						At FSpa, our journey began with a passion for wellness and a commitment to rejuvenating the body
						and soul. Founded on the principles of balance, tranquility, and self-care, we embarked on a
						mission to create an oasis of serenity in the heart of the bustling city. Our story is one of
						dedication to the art of relaxation, where every treatment is a harmonious blend of ancient
						wisdom and modern techniques.

						Nestled within the vibrant streets of our beloved city, FSpa was born as a sanctuary for those
						seeking solace from their daily routines. Our founders envisioned a haven where stress
						dissipates, and inner peace flourishes. Each of our therapists is not just a practitioner but a
						guardian of your well-being, offering personalized therapies to nurture your body and calm your
						mind.
					</p>

					<p class="stext-113 cl6 p-b-26">
						We believe that true beauty emanates from within, and our treatments are designed to enhance
						your natural radiance. Whether it's a soothing massage, a rejuvenating facial, or a revitalizing
						body scrub, every experience at FSpa is a journey to rediscover your best self.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Located at the heart of the city, you can find us on the 8th floor of 379 Hudson St, New York,
						NY 10018. Our dedicated team is always here to assist you on your path to relaxation and
						revitalization. Visit us today or reach out to us at (+1) 96 716 6879, and let us guide you on a
						transformative wellness voyage. Your story, your rejuvenation, begins here at FSpa."
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/images/banner-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Mission
					</h3>

					<p class="stext-113 cl6 p-b-26">
						At FSpa, our mission is to transcend the ordinary and provide an unparalleled
						experience of rejuvenation and self-discovery. We believe that wellness is not just a
						destination; it's a journey towards a harmonious life. Our commitment is to guide you on this
						transformative path, where every moment is an opportunity for renewal.

						We understand that true wellness encompasses not only the body but also the mind and spirit. Our
						spa is more than a place of relaxation; it's a sanctuary of inspiration and self-expression. We
						are dedicated to creating an environment where creativity thrives, and inner beauty flourishes.
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							With a team of skilled therapists and practitioners, we aim to connect the dots between
							ancient traditions and modern techniques, crafting unique and personalized experiences for
							each guest. We embrace the wisdom of the past and the innovation of the present to curate
							treatments that cater to your individual needs.
						</p>

						<span class="stext-111 cl8">
							- FSpa
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="../images/banner-10.png" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="map">
	<div class="size-303" id="google_map" data-map-x="51.51186200757688" data-map-y="-0.125611282503671" data-pin=""
		data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
</div>
