@page
@model SpaBookingApp.Pages.Provisions.CreateProvisionModel
@{ Layout = "_LayoutWithUsername"; }
@{
    ViewData["Title"] = "Create Provision";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<h1>Create Provision</h1>

<form method="post" class="form-container" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Provision.Name" title="Provision Name">Provision Name:</label>
        <input asp-for="Provision.Name" class="form-control" placeholder="Enter provision name" />
        <span asp-validation-for="Provision.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provision.Price" title="Provision Price">Provision Price:</label>
        <input asp-for="Provision.Price" class="form-control" step="0.01" placeholder="Enter provision price" />
        <span asp-validation-for="Provision.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provision.Description" title="Description">Description:</label>
        <input asp-for="Provision.Description" class="form-control" placeholder="Enter Description" />
        <span asp-validation-for="Provision.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provision.Status" title="Status">Status:</label>
        <select asp-for="Provision.Status" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
        <span asp-validation-for="Provision.Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Provision.Poster" title="Provision Poster">Provision Poster:</label>
        <input type="file" asp-for="Provision.Poster" class="form-control" accept="image/*" id="imageInput" style="display:none" />
        <input type="text" id="imageFileName" readonly class="form-control" placeholder="Select an image" />
        <button type="button" class="button secondary-button" onclick="selectImage()">Browse</button>
        <img id="previewImage" src="#" alt="Preview" style="display:none" />
        <span id="selectedImageName"></span>
        <span asp-validation-for="Provision.Poster" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="button primary-button">Create</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p>@Model.SuccessMessage</p>
    <a href="/Provisions/Index" class="button secondary-button">Back to Provisions</a>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}

@if (!ModelState.IsValid)
{
    <p>Please fix the errors in the form.</p>
}

<script src="~/js/createimage.js"></script>
