@page
@model SpaBookingApp.Pages.Provisions.UpdateProvisionModel

@{
    ViewData["Title"] = "Update Provision";
    Layout = "_AdminLayout";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="error-message">@Model.ErrorMessage</p>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <p class="success-message">@Model.SuccessMessage</p>
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Provisions /</span> Update Provision
    </h4>

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Udpate provision</h5>
                <small class="text-muted float-end">Update label</small>
            </div>
            <div class="card-body">
                <form method="post" id="updateProvisionForm"  enctype="multipart/form-data">
                    <input type="hidden" asp-for="Provision.Id" />

                    <div class="mb-3">
                        <label><strong>Name:</strong></label>
                        <input type="text" asp-for="Provision.Name" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label><strong>Description:</strong></label>
                        <textarea asp-for="Provision.Description" class="form-control" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label><strong>Price:</strong></label>
                        <input type="number" asp-for="Provision.Price" class="form-control" step="0.01" required/>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Provision.DurationMinutes" title="Provision Duration (in minutes)"><strong>Provision
                            Duration:</strong></label>
                        <input asp-for="Provision.DurationMinutes" class="form-control"
                            placeholder="Enter provision duration (minutes)" required/>
                        <span asp-validation-for="Provision.DurationMinutes" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Provision.NumberOfExecutions" title="Number Of Executions"><strong>NumberOfExecutions:</strong></label>
                        <input asp-for="Provision.NumberOfExecutions" class="form-control"
                            placeholder="Enter Number Of Executions" required/>
                        <span asp-validation-for="Provision.NumberOfExecutions" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label><strong>Status:</strong></label>
                        <select class="form-select color-dropdown" asp-for="Provision.Status" class="form-control" required>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label><strong>Poster:</strong></label>
                        <div>
                            @if (!string.IsNullOrEmpty(Model.Provision.PosterName))
                            {
                                <img src="@Model.Provision.PosterName" alt="Poster" class="poster-image1"
                                    style="max-height: 350px;" id="currentImage" />
                                    <br><br>
                            }
                            <input type="file" asp-for="Provision.Poster" class="btn rounded-pill btn-outline-primary"
                                onchange="displayPreviewImage(event)" accept="image/*"s/>
                            <input type="hidden" asp-for="Provision.PosterName" />
                            <img id="previewImage" alt="Preview" style="display: none; max-height: 200px;" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="/Provisions" class="btn btn-secondary">Back to Provisions</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Provision/updateProvision.js"></script>
<script src="~/js/Image/updateimage.js"></script>
