@page
@{
    Layout = "_LayoutWithUsername";
}

@{
    ViewData["Title"] = "Update Contact";
}

<h1>Update Contact</h1>

<div class="contact-detail">
    <form id="updateContactForm">
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="Waiting">Waiting</option>
                <option value="In Progress">In Progress</option>
                <option value="Resolved">Resolved</option>
            </select>
        </div>
        <button type="button" id="updateButton" class="btn btn-primary">Update Contact</button>
    </form>
    <p id="updateMessage"></p>
</div>

<a href="/Contacts#" class="btn btn-secondary">Cancel</a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var token = sessionStorage.getItem("Token");
    if (!token) {
        window.location.href = "/error/AccessDenied.html";
    }

    const apiService = axios.create({
        baseURL: 'http://localhost:5119/api/',
        timeout: 5000,
    });

    apiService.defaults.headers.common["Authorization"] = "Bearer " + token;

    const updateForm = document.getElementById('updateContactForm');
    const updateButton = document.getElementById('updateButton');
    const updateMessage = document.getElementById('updateMessage');
    const statusInput = document.getElementById('status'); // Lấy tham chiếu đến trường nhập status

    // Lấy giá trị `status` từ URL query parameters
    const urlParams = new URLSearchParams(window.location.search);
    const statusFromURL = urlParams.get('status');

    // Điền giá trị `status` từ URL vào trường nhập
    statusInput.value = statusFromURL;

    updateButton.addEventListener('click', () => {
        const status = statusInput.value; // Lấy giá trị trạng thái từ trường nhập
        const contactId = getUrlParameter('id');

        updateContact(contactId, status);
    });

    async function updateContact(contactId, status) {
        try {
            const response = await apiService.put(`Contact/${contactId}`, { status });

            if (response.status === 200) {
                alert("Contact updated successfully.");
                window.location.href = "/Contacts#";

            } else {
                updateMessage.textContent = "Failed to update contact.";
            }
        } catch (error) {
            console.error('Update error:', error);
        }
    }

    function getUrlParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
</script>

